__pycache__/
*.pyc
.DS_Store
*.csv
node_modules/
dist/
.env
.venv/
venv/
data/*
!data/.gitkeep
!data/options/
!data/options/.gitkeep
!data/equity/
!data/equity/.gitkeep
!data/equity/custom/
!data/equity/custom/.gitkeep
!.gitkeep
